metadata
ScriptAssemblies
ShaderCache
/Heard Mentality/Library
/Heard Mentality/Library/assetDatabase3
/Heard Mentality/Library/ScriptAssemblies/BuiltinAssemblies.stamp
/Heard Mentality/Library/AssetServerCacheV3
/Heard Mentality/Library/expandedItems
/Heard Mentality/Library/ScriptMapper
/Heard Mentality/Temp
/Heard Mentality/.vs/Heard Mentality/v14/.suo
/Heard Mentality/Library/UnityAssemblies/version.txt
